[Unit]
Description=Независимый регистратор - %N
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=%N
Group=%N
Environment="JAVA_TOOL_OPTIONS= \
    -XX:+UseG1GC \
    -XX:MaxGCPauseMillis=5000 \
    -Xlog:gc*:logs/gc.log:time,level,tags:filecount=10,filesize=1M \
    -Dvertx.cacheDirBase=vertx"
WorkingDirectory=/opt/%N
ExecStart=/bin/java -jar ./%N.jar
SuccessExitStatus=143
StandardOutput=journal
StandardError=journal
Restart=on-abnormal
RestartSec=30s

[Install]
WantedBy=multi-user.target
